@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

body {
  margin: 0;
  font-family: "Yusei Magic", sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: rgb(17, 30, 135);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
